@page "/calcv1"

<PageTitle>CalcV1</PageTitle>

<h1>Základní matematické operace</h1>
<hr/>
<label>Číslo 1 <input @bind="cislo1" /></label>
<br />
<label>Číslo 2 <input @bind="cislo2" /></label>
<div>
    <button @onclick="Soucet">Součet</button>
    <button @onclick="Rozdil">Rozdíl</button>
    <button @onclick="Soucin">Součin</button>
    <button @onclick="Podil">Podíl</button>
</div>
<br />
<div>
    <label>Výsledek <input @bind="vysledek" readonly /></label>
</div>

@code {
    private double cislo1; //promné mají první ísmeno malé
    private double cislo2;
    private double vysledek;

    private void Soucet() //název metody musí mít první písmeno velké 
    {
        vysledek = cislo1 + cislo2;
    }
    private void Rozdil()
    {
        vysledek = cislo1 - cislo2;
    }
    private void Soucin()
    {
        vysledek = cislo1 * cislo2;
    }
    private void Podil()
    {
        vysledek = cislo1 / cislo2;
    }
}
